<!--SORTING BUTTONS -->
<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1>Sort by:</h1>
    <%= link_to "Rating", flats_path(sort: "rating"), class: "btn btn-secondary"%>
    <%= link_to "Price", flats_path(sort: "price"), class: "btn btn-secondary"%>
  </div>
</div>



<!--CARDS -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!--CARD ITERATION -->
    <% @flats.each do |flat| %>
      <div class="col">
        <div class="card h-100">
          <%= image_tag flat.photos, class: "card-img-top", alt: "flat picture" %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to flat.name, flat_path(flat) %></h5>
            <p class="card-text text-truncate"><%= flat.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= flat.location %></li>
            <li class="list-group-item d-flex justify-content-between">
              <p><%= "#{flat.price_per_night} €" %></p>
              <p><i class="fa-regular fa-star"> <%= flat.average_rating %></i></p>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
