<!DOCTYPE html>
<html>
  <head>
    <title>Carbonbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <!-- GEOCODING -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
  </head>

  <body class="d-flex flex-column min-vh-100">

  <!--NAVBAR -->
  <%= render "devise/shared/flashes" %>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", class: "company-logo" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <%if user_signed_in?  %>
          <li class="nav-item">
            <%= link_to "Become a host", new_flat_path, data: { turbo: false }, class: "btn btn-secondary" %>
          </li>
          <%end  %>
        </ul>

          <%= form_with url: flats_path, method: :get, class: "d-flex", id: "navsearch" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control me-2",
              placeholder: "Find a flat"
            %>
            <%= submit_tag "Search", class: "btn btn-outline-secondary" %>
          <% end %>

        <% if user_signed_in? %>
          <div class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </div>
        <% else %><div class="d-grid gap-2 d-md-block">
          <%= link_to "Login", new_user_session_path, class: "btn btn-secondary" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-flat" %>
        </div>
        <% end %>
      </div>
    </div>
  </nav>

  <!--YIELD -->
  <div class="flex-grow-1">
    <%= yield %>
  </div>

  <!--FOOTER -->
  <div class="footer">
    <div class="footer-links">
      <a id="Paul" href="https://github.com/paultilly"><i class="fab fa-github" ></i></a>
      <a id="Markus" href="https://github.com/MNicehouse"><i class="fab fa-github" ></i></a>
      <a id="Sascha" href="https://github.com/sascha-belski"><i class="fab fa-github" ></i></a>
      <a id="Chris" href="https://github.com/ValuableRow"><i class="fab fa-github" ></i></a>
    </div>
      <div class="footer-copyright">
        Made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>
  </body>
</html>
